@{
    ViewBag.Title = "Home Page";
}

<div class="intro-header">
    <div class="intro-message">
        <h1>Introducing JobRoll.</h1>
        <h3>
            JobRoll enables jobseekers and employers to find the right skill sets and employment that they need and
            deserve. Our goal: to connect employers and jobseekers to have better opportunities and careers.
        </h3>
        <hr class="intro-divider">
    </div>
</div>