@model WebApplication2.Models.EditMemberViewModel


@{
    ViewBag.Title = "UserProfile";
}

@using (Html.BeginForm("UserProfile", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    @Html.ValidationSummary()
    <h4>Edit Resume.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FirstMidName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstMidName, new { @class = "form-control" })
        </div>
    </div>
<div class="intro-header">
    <div class="intro-message">
        <h1>Introducing JobRoll.</h1>
        <h3>
            JobRoll enables jobseekers and employers to find the right skill sets and employment that they need and
            deserve. Our goal: to connect employers and jobseekers to have better opportunities and careers.
        </h3>
        <hr class="intro-divider">
    </div>
</div>
}
<!--

    <div id="leftsidebar">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/Harry-Potter-1-.jpg" />
        <span class="user-name">
            James Carlo Atienza
        </span>


        <ul>
            <li><span class="glyphicon glyphicon-earphone" style="color: gray;"></span><p>+63 912 345 6789  </p></li>
            <li><span class="glyphicon glyphicon-envelope" style="color: gray;"></span><p>"softeng@jobroll.com</p></li>
            <li><span class="glyphicon glyphicon-tree-conifer" style="color: gray;"></span><p>Metro Manila, PH </p></li>
        </ul>

    </div>
    -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}