* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

.content-width {
    width: 1080px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    width: 1080px;
    margin: 0 auto;
    padding-top: 20px;
}

#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;    
    background-color: #e0e0e0;
}

.footer-text {    
    padding: 30px 0;
    font-size: 0.8em;
    color: #98978b;
}

.navibar {
    background-color: #225378;
    top: 0;
    height: 51px;
}

.navibar-brand {
    float: left;
    padding: 14px 0;
    font-size: 18px;
    height: 60px;
    color: #ffffff;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.navibar-brand:hover, .navibar-brand:focus {
    color: #eb7f00;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.navibar-brand:active {
    color: #1695a3;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.navibar a {    
    text-decoration: none;
}

.navibar-links {
    margin: 0 auto;
    padding: 17px 0;
    font-size: 11px;
    font-weight: 500;
    list-style: none;
    text-transform: uppercase;
}

.navibar-links ul {
    list-style: none;    
}

.navibar-links li {
    float: right;
}

.navibar-links li a {
    padding: 19px 15px;
    color: #9CB2C2;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.navibar-links li a:hover {    
    background-color: #386486;
    color: #DEE5EB;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.navibar-links li a:active {    
    background-color: #EB7F00;
    color: #FFFFFF;

    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
}

ul {
    margin: 7px auto 20px auto;
    padding-left: 20px;
}

.btn-new {
    margin: 20px auto 0 auto;
    padding: 7px 12px;
    font: 1em 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #1695a3;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}


.btn-new:hover, .btn-new:focus {
    color: #ffffff;
    background-color: #eb7f00;
    outline: none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-new:active {
    color: #ffffff;
    background-color: #225378;
    outline: none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#leftsidebar {
    position: fixed;
    width: 210px;
    padding: 15px 15px;
}

#leftsidebar img {
    display: inline-block;
    border: none;
    height: 130px;
    width: 130px;
    margin: 0 25px;
    clip-path: circle(65px at center);
    -webkit-clip-path: circle(65px at center);
}

#leftsidebar .user-name {
    display: table;
    margin: 15px auto 15px auto;
    font-size: 1.5em;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
}

#leftsidebar p {
    width: 155px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
}

#leftsidebar ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: auto;
    word-wrap: break-word;
}

#leftsidebar li {
    padding-top: 5px;
}


table, th, td {
    border-collapse: collapse;
}

#sec-skl {
    column-count: 3;
}

.edu-tbl th, .exp-tbl th {
    width: 100px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: -0.015em;
    vertical-align: top;
}

.ent-name, .sch-name {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: auto;
}

.ent-pos, .sch-pos {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.10em;
    margin: auto;
}

.ent-loc, .sch-loc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.85em;
}

.custom-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c6c6c6;
}

.company-profile-header, .job-details-header {
    display: inline-block;
    text-align: left;    
}

.company-profile-header img {
    display: inline-block;
    float: left;
    border: none;
    height: 130px;
    width: 130px;
    margin: 0 25px 0 0;
}

.job-details-header img {
    display: inline-block;
    float: left;
    border: none;
    height: 90px;
    width: 90px;
    margin: 0 25px 0 0;
}

.info-content {
    padding-right: 20px;
}

.company-profile-header ul, .job-details-header ul {
    list-style: none;
}

.company-profile-header ul li, .job-details-header ul li {
    float: left;
}

.company-name {
    font: 300 3em 'Roboto', sans-serif;
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 25px;
}

.company-open-pos {
    font: 300 2em 'Roboto', sans-serif;
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 5px;
    color: #1695a3;
}

.company-desc div {
    display: table;
    float: left;
    width: 350px;
    margin-right: 30px;
}

.job-desc div {
    display: table;
    float: left;
    width: 525px;
    margin-right: 30px;
}

.company-desc h3, .job-desc h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.5em;
}

.company-desc table {
    vertical-align: top;
    border-collapse: collapse;
}

.company-desc table tr {
    margin-bottom: 10px;
}

.company-job-listing {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
}

.search-input-box {
    margin: -6px auto auto 15px;
    height: 28px;
    padding: 8px 8px 8px 26px;
    font: 400 13px 'Roboto', sans-serif;
    border-radius: 3px;

    color: #9CB2C2;
    border: 1px solid #597E9A;
    background: url(../img/img-search-light.png) 6px 6px no-repeat;
    background-size: 14px 14px;

    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.search-input-box:hover {
    color: #3e3f3a;
    background: #ffffff url(../img/img-search-dark.png) 6px 6px no-repeat;    
    background-size: 14px 14px;
    border: 1px solid #225378;

    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.search-input-box:focus {
    color: #3e3f3a;
    background: #ffffff url(../img/img-search-dark.png) 6px 6px no-repeat;    
    background-size: 14px 14px;
    border: 1px solid #225378;
    outline: none;

    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.search-result {
    margin: 0 auto 10px;
    padding: 15px;
    width: 75%;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.search-result:hover {
    border: 1px solid #1695a3;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.search-result:hover {
    border: 1px solid #F6C58C;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.search-result:active, .search-result:focus {
    border: 1px solid #90A9BC;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.search-result > a {
    text-decoration: none;
    color: #3e3f3a;
}

.search-result h3 {
    margin: 0 auto 5px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.5em;
}

.short-job-desc {
    margin: 10px auto;
}

.search-result ul {
    margin: 10px 15px 0 0;
    padding: 0;
    list-style: none;
    float: left;
    border-right: 1px solid #e0e0e0;
}

#login-local, #login-external {
    width: 45%;
    display: block;
    float: left;
    margin-right: 5%;

}

#login-local {
    border-right: 1px solid #e0e0e0;
}

.input-item {
    margin-top: 16px;
}

.input-label {
    width: 100px;
    text-align: right;
    float: left;
    padding: 9px 15px 9px 0;
    margin: 0 10px 0 0;
}

.input-field {
    display: inline-block;
    margin-bottom: 7px;
    width: 100%;
    height: 36px;
    padding: 8px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3f3a;
    border: 1px solid #dfd7ca;
    border-radius: 4px;

    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.input-field:hover {
  outline: none;
  border: 1px solid #9CB2C2;
  
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}

.input-field:active, .input-field:focus {
    outline: none;
    border: 1px solid #1695a3;
  
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.login-button-group {
    margin: 0 0 0 110px;
}

#MainContent_RememberMe {
    margin-top: 12px;
}