html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    background-color: #f8f8f8;
}

h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
}

ul {
    margin: 7px auto 20px auto;
    padding-left: 20px;
}

#leftsidebar {
    position: fixed;
    width: 210px;
    padding: 15px 15px;
}

#leftsidebar img {
    display: inline-block;
    border: none;
    height: 130px;
    width: 130px;
    margin: 0 25px;
    clip-path: circle(65px at center);
    -webkit-clip-path: circle(65px at center);
}

#leftsidebar .user-name {
    display: table;
    margin: 15px auto 15px auto;
    font-size: 1.5em;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
}

#leftsidebar p {
    width: 155px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
}

#leftsidebar ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: auto;
    word-wrap: break-word;
    /*border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
}

#leftsidebar li {
    padding-top: 5px;
}



#footer {
    position: fixed;
    float: left;
    width: 210px;
    bottom: 5%;
    margin: 35px 0 0 0;
    font-size: 0.8em;
    color: #98978b;
}

#maincontent {
    width: 925px;
    margin-left: 220px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#username {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}


table, th, td {
    border-collapse: collapse;
}

#sec-skl {
    column-count: 3;
}

.edu-tbl th, .exp-tbl th {
    width: 100px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: -0.015em;
    vertical-align: top;
}

.ent-name, .sch-name {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: auto;
}

.ent-pos, .sch-pos {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.10em;
    margin: auto;
}

.ent-loc, .sch-loc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.85em;
}

.custom-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c6c6c6;
}

.company-header {
    display: inline-block;
    text-align: left;
    overflow: auto;
}

.company-header img {
    display: inline-block;
    float: left;
    border: none;
    height: 130px;
    width: 130px;
    margin: 0 25px 0 0;
}
.company-header .info-content {
    padding-right: 20px;
}

.company-header ul {
    list-style: none;
}

.company-header ul li {
    float: left;
}

.company-name {
    font-family: Roboto;
    font-weight: 300;
    font-size: 3em;
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 25px;
}

.company-desc h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.75em;
}

.company-desc div {
    display: table;
    float: left;
    width: 350px;
    margin-right: 30px;
}

.company-desc table {
    vertical-align: top;
    border-collapse: collapse;
}

.company-desc table tr {
    margin-bottom: 10px;
}

.company-job-listing {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
}