html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
}

ul {
    margin: 7px auto 20px auto;
    padding-left: 20px;
}

.btn-new {
    font: 1em 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #eb7f00;
    background-color: #eb7f00;
    margin: 20px auto 0 auto;
    padding: 7px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}


.btn-new:hover, .btn-new:focus {
    color: #ffffff;
    border: 1px solid #1695a3;
    background-color: #1695a3;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-new:active {
    color: #ffffff;
    border: 1px solid #225378;
    background-color: #225378;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#leftsidebar {
    position: fixed;
    width: 210px;
    padding: 15px 15px;
}

#leftsidebar img {
    display: inline-block;
    border: none;
    height: 130px;
    width: 130px;
    margin: 0 25px;
    clip-path: circle(65px at center);
    -webkit-clip-path: circle(65px at center);
}

#leftsidebar .user-name {
    display: table;
    margin: 15px auto 15px auto;
    font-size: 1.5em;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
}

#leftsidebar p {
    width: 155px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
}

#leftsidebar ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: auto;
    word-wrap: break-word;
}

#leftsidebar li {
    padding-top: 5px;
}



#footer {
    position: fixed;
    float: left;
    width: 210px;
    bottom: 5%;
    margin: 35px 0 0 0;
    font-size: 0.8em;
    color: #98978b;
}

#maincontent {
    width: 925px;
    margin-left: 220px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


table, th, td {
    border-collapse: collapse;
}

#sec-skl {
    column-count: 3;
}

.edu-tbl th, .exp-tbl th {
    width: 100px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: -0.015em;
    vertical-align: top;
}

.ent-name, .sch-name {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: auto;
}

.ent-pos, .sch-pos {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.10em;
    margin: auto;
}

.ent-loc, .sch-loc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.85em;
}

.custom-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c6c6c6;
}

.company-profile-header, .job-details-header {
    display: inline-block;
    text-align: left;    
}

.company-profile-header img {
    display: inline-block;
    float: left;
    border: none;
    height: 130px;
    width: 130px;
    margin: 0 25px 0 0;
}

.job-details-header img {
    display: inline-block;
    float: left;
    border: none;
    height: 90px;
    width: 90px;
    margin: 0 25px 0 0;
}

.info-content {
    padding-right: 20px;
}

.company-profile-header ul, .job-details-header ul {
    list-style: none;
}

.company-profile-header ul li, .job-details-header ul li {
    float: left;
}

.company-name {
    font: 3em 'Roboto', sans-serif;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 25px;
}

.company-open-pos {
   font: 2em 'Roboto', sans-serif;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 5px;
    color: #1695a3;
}

.company-desc div {
    display: table;
    float: left;
    width: 350px;
    margin-right: 30px;
}

.job-desc div {
    display: table;
    float: left;
    width: 525px;
    margin-right: 30px;
}

.company-desc h3, .job-desc h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.5em;
}

.company-desc table {
    vertical-align: top;
    border-collapse: collapse;
}

.company-desc table tr {
    margin-bottom: 10px;
}

.company-job-listing {
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.5em;
}

.search-in-list {
    margin-right: 20px;
}

.search-input-box {
    margin: 14px auto;
    width: 100%;
    height: 32px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;

    color: #9CB2C2;
    background-color: #597E9A;
    border: none;

    /*opacity: 0.5;
    color: #3e3f3a;
    background-color: #ffffff;
    border: 1px solid #dfd7ca;*/


    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out 1s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out 1s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out 1s;*/

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.search-input-box:focus {
    color: #3e3f3a;
    background-color: #ffffff;
    /*border: 1px solid #dfd7ca;*/

    opacity: 1;

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}