
body {
    padding: 50px 15px 200px 15px;
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #f8f8f8;
}

#leftsidebar {
    float: left;
    position: fixed;
    width: 210px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#footer p {
    top: 200%;
    position: absolute;
    font-size: 0.65em;
    color: #b4b4b4;
    margin: 10px 0 0 -10px;
}

#maincontent {
    width: 77%;
    margin-left: 250px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#username {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.userinfo {
    list-style: none;
    padding: 0;
}

    .userinfo li {
        margin: 10px 0;
    }

        .userinfo li a {
            text-decoration: none;
        }

#profilepic {
    border: 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    body {
        margin-top: 20px;
        width: 70%;
    }

    #userimage {
        width: 51px;
    }
}
